html {
    --board-size: 320px; 
    --grid-size: calc(var(--board-size) / 8);
    --graveyard-size: 20px;

    --rooms-size: 500px;

    --options-size: 230px;
    
    font-size: 0px;
    background-color: #fff;
}
body { margin-bottom: 100px;}

#board {
    --dark-col: #b88b4a;
    --light-col: #e3c16f;
    position: relative;
    display: inline-block;

    width: var(--board-size);
    height: var(--board-size);
    background-image:
        linear-gradient(90deg,  var(--dark-col) var(--grid-size),  var(--light-col) var(--grid-size)),
        linear-gradient(90deg, var(--light-col) var(--grid-size), var(--dark-col)  var(--grid-size)),
        linear-gradient(90deg, var(--dark-col)  var(--grid-size), var(--light-col) var(--grid-size)),
        linear-gradient(90deg, var(--light-col) var(--grid-size), var(--dark-col)  var(--grid-size)),
        linear-gradient(90deg, var(--dark-col)  var(--grid-size), var(--light-col) var(--grid-size)),
        linear-gradient(90deg, var(--light-col) var(--grid-size), var(--dark-col)  var(--grid-size)),
        linear-gradient(90deg, var(--dark-col)  var(--grid-size), var(--light-col) var(--grid-size)),
        linear-gradient(90deg, var(--light-col) var(--grid-size), var(--dark-col)  var(--grid-size));
    background-position: 
        0 0, 
        0 var(--grid-size), 
        0 calc(var(--grid-size) * 2), 
        0 calc(var(--grid-size) * 3), 
        0 calc(var(--grid-size) * 4), 
        0 calc(var(--grid-size) * 5), 
        0 calc(var(--grid-size) * 6), 
        0 calc(var(--grid-size) * 7);
    background-repeat: repeat-x;
    background-size: calc(var(--grid-size) * 2) var(--grid-size);
}

.graveyard-piece {
    display: inline-block;
    width: var(--graveyard-size);
    height:var(--graveyard-size);
}
#wgraveyard {
    width: var(--board-size);
    height: var(--graveyard-size);
    background-color: #eee;
    margin-bottom: 10px;
}
#bgraveyard {
    width: var(--board-size);
    height: var(--graveyard-size);
    background-color: #eee;
}

#game-options {
    display: inline-block;
    position: relative;
    width: calc(var(--options-size) - 30px);
    height: calc(var(--board-size) + 2 * var(--graveyard-size) - 30px);
    margin-left: 10px;
    background-color: #421;
    border: 5px solid #221108;
    padding: 10px;
    vertical-align: top;
}

#resign {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px -5px #221108
}
#resign > span {
    padding: 0px;
    font-size: 15px;
    position: relative;
    bottom: 4px;
}
#resign > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#userdata {
    display: none;
}

#score {
    font-size: 15px;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 0px -5px #221108;
}
#wins {
    float: left;
}
#losses {
    float: right
}

#promotion {
    display: none;
    width: calc(4 * 40px + 3 * 10px);
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0px -5px #221108
}
#promotion > img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#promotion > img:last-child {
    margin-right: 0;
}

.highlight {
    position: absolute;
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: #f00a;
    cursor: pointer;
    z-index: 2;
}
.highlight-move {
    z-index: 0;
    background-color: #f0f2;
}

.piece {
    z-index: 1;

    position: absolute;
    width: var(--grid-size);
    height: var(--grid-size);
    user-select: none;
    display: none;
    cursor: pointer;
}
.piece.check { background-color: #f007;}

#sign-in {
    width: max-content;
    min-width: calc(var(--board-size) + var(--options-size) + var(--rooms-size));
    height: 36px;
    margin-bottom: 10px;
    background-color: #eee;
    padding: 10px;
}
#sign-in > * {
    display: inline-block;
}
#signin-img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}
#signin-p {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 7px;

    margin-right: 10px;
    font-size: 19px;
    vertical-align: top;
    display: none;
}
.g-signin2 {
    float: right;
    margin-left: 30px;
}
#signin-button {
    --length: 12px;
    width: var(--length);
    height: var(--length);
    background: #f00;
    float: right;
    display: none;
    border-radius: 50%;
    padding: 2px;    
    
    transform: rotate(45deg);
    cursor: pointer;
}
#signin-button > div {
    background-color: #fff;
    position: absolute;

    width: 10px;
    height: 2px;

    margin-top: calc(var(--length)/2 - 2px/2);
    margin-left: 1px;
}
#signin-button > div:first-child {
    width: 2px;
    height: 10px;

    margin-top: 1px;
    margin-left: calc(var(--length)/2 - 2px/2);
}


#rooms {
    display: inline-block;
    position: relative;
    overflow-y: scroll;
    vertical-align: top;

    background-color: #eee;
    width: calc(var(--rooms-size) - 10px);
    padding: 10px;
    padding-right: 0px;
    margin-left: 10px;
}
#rooms::-webkit-scrollbar{width: 15px}
#rooms::-webkit-scrollbar-track {background-color: #ddd; }
#rooms::-webkit-scrollbar-button {background-color: #ccc;}
#rooms::-webkit-scrollbar-thumb {background-color: #bbb;}


.room {
    background-color: #ddd;
    width: calc(var(--rooms-size) - 45px);
    padding: 10px;
    padding-right: 0px;
    margin-bottom: 10px;

    /* border-radius: 10px; */
}
.room-users {
    width: max-content;
}
.room-client {
    width: calc(100% + 10px);
    margin-bottom: 5px;
    border-bottom: solid 3px #ccc;
    font-size: 20px;
}

.game {
    --length: 10px;
    padding: 5px;
    width: var(--length);
    height: var(--length);
    border-radius: 50%;
}
.game > div {
    position: relative;

    width: var(--length);
    height: 2px;

    margin-top: calc(var(--length)/2 - 2px/2);
    margin-left: 0px;
    bottom: var(--length);
}
.game > div:first-child {
    width: 2px;
    height: var(--length);

    margin-top: 0px;
    margin-left: calc(var(--length)/2 - 2px/2);
    bottom: 0px;
}
.game.able {cursor: pointer;}

#join-game:not(.join) > div:first-child {background-color: #fff0;}
#join-game {
    margin-top: 10px;
    /* margin-left: 10px; */
    background-color: #999;
}
#join-game.able {background-color: #ccc;}
#join-game > div {background-color: #666;}
#join-game.able > div {background-color: #999;}

#new-game {
    position: absolute;
    background-color: #aaa; 
    bottom: 10px;
}
#new-game.able {background-color: #ddd;}
#new-game > div {background-color: #777;}
#new-game.able > div {background-color: #aaa;}

.abcRioButtonIconImage {
    width: 20px !important;
    height: 20px !important;
}
.abcRioButtonSvg {
    width: 20px !important;
    height: 20px !important;
}

#online-users {
    width: calc(var(--board-size) + var(--options-size) + 10px);
    height: max-content; 
}
.user {
    height: 25px;
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px #ddd;
}
.user:last-child {margin-bottom: 5px;}
.user-img{
    height: 19px;
    width: 19px;
    border: solid 3px #aaa; 
    border-radius: 50%;
}
.user > span {
    position: relative;
    font-size: 15px;
    vertical-align: top;
    top: 4px;
}
.user > span:last-child{float: right; right: 10px}
.place-1 {
    background-color: #fd0;
    box-shadow: 0 5px #ec0, inset 0px 3px 3px #ff5;
}
.place-1 > .user-img { border-color: #a90;}
.place-2 {
    background-color: #ddd;
    box-shadow: 0 5px #ccc, inset 0px 3px 3px #eee;
}
.place-2 > .user-img {border-color: #999;}
.place-3 {
    background-color: #cd7f32;
    box-shadow: 0 5px #ad5f12, inset 0px 3px 3px #ed9f52;
}
.place-3 > .user-img {border-color: #9d4f02;}
.online-indicator {
    position: relative;
    display: inline-block;
    right: 10px;
    width: 8px;
    height: 8px;
    border: solid 1px #000;
    border-radius: 5px;
}
.online {background-color: #3f3;}
.offline {background-color: #f33;}

#main {
    width: max-content;
    display: flex;
    /* height: auto; */
}
#main-left {
    display: inline-block;
}
#chess {
    display: inline-block;
}
