#board {
        /* position: absolute; */
        width: 320px;
        height: 320px;
        background-image:
            linear-gradient(90deg,  var(--dark-col) 40px,  var(--light-col) 40px),
            linear-gradient(90deg, var(--light-col) 40px, var(--dark-col)  40px),
            linear-gradient(90deg, var(--dark-col)  40px, var(--light-col) 40px),
            linear-gradient(90deg, var(--light-col) 40px, var(--dark-col)  40px),
            linear-gradient(90deg, var(--dark-col)  40px, var(--light-col) 40px),
            linear-gradient(90deg, var(--light-col) 40px, var(--dark-col)  40px),
            linear-gradient(90deg, var(--dark-col)  40px, var(--light-col)40px),
            linear-gradient(90deg, var(--light-col) 40px, var(--dark-col)  40px);


        background-position: 0 0, 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px;
        background-repeat: repeat-x;
        background-size: 80px 40px;
        margin-bottom: 10px;
    }
    #board.disconnect {
        --dark-col: #c00;
        --light-col: #f00;
    }

    #board.connect {
        --dark-col: #b88b4a;
        --light-col: #e3c16f;
    }
    .highlight {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #ff0000a0;
    }

    .highlight:hover {
        cursor: pointer;
    }

    .piece {
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 40px;
        user-select: none;
        display: none;
    }
    .piece:hover {
        cursor: pointer;
    }


#sign-in {
    width: 300px;
    height: 36px;
    margin-bottom: 10px;
    background-color: #eee;
    padding: 10px;
}
#sign-in > * {
    display: inline-block;
}
#sign-in > img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    display: none;
}
#sign-in > p {
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    display: none;

    vertical-align: top;
}
#sign-in > button {
    height: 36px;
    background: #ddd;
    float: right;
    display: none;
}
.g-signin2 {
    float: right;
}

.room {
    background-color: #eee;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
.room-client {
    background-color: #ddd;
    padding: 10px;
    width: 270px;
    
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.game {
    --length: 10px;
    padding: 5px;
    width: var(--length);
    height: var(--length);
    border-radius: 50%;
}
.game > div {
    position: absolute;

    width: var(--length);
    height: 2px;

    margin-top: calc(var(--length)/2 - 2px/2);
    margin-left: 0px;

}
#join-game > div:first-child {display: none;}
#join-game.join > div:first-child {display: block;}

.game > div:first-child {
    width: 2px;
    height: var(--length);

    margin-top: 0px;
    margin-left: calc(var(--length)/2 - 2px/2);

}
.game.able:hover {cursor: pointer;}

#join-game {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #aaa;
}
#join-game.able {background-color: #ddd;}

#join-game > div {background-color: #777;}
#join-game.able > div {background-color: #aaa;}

#new-game {background-color: #bbb;}
#new-game.able {background-color: #eee;}

#new-game > div {background-color: #888;}
#new-game.able > div {background-color: #bbb;}


